.section.home .sectionTitle {
    text-transform: uppercase;
}

.viewMore {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: .3s;
    background-color: transparent;
}

.viewMore:hover {
    color: var(--second);
}