.sideMenu {
    width: 20%;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba (0, 0, 0, 0.1);
    border-radius: 30px;
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.15), 5px 5px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.sideMenu .logo {
    font-family: Bauhaus+93+V1;
    position: relative;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: inherit;
}

.sideMenu .logo img {
    width: 150px;
    /* Tamaño deseado en píxeles */
    height: auto;
    /* Para mantener la proporción */
    background-color: transparent;
}

.sideMenu .nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.sideMenu .nav li button {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    letter-spacing: 1px;
    display: inline-flex;
    gap: 25px;
    align-items: center;
    transition: .5s;
    background: var(--bgColor);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    transition: .5s;
}

.sideMenu .nav li button:hover,
.sideMenu .nav li button:active {
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.15), 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.sideMenu .social {
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    transition: .5s;
}

.sideMenu .social li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: .5s;
}

.sideMenu .social li a:hover {
    color: var(--second);
}

.sideMenu .social li .share {
    background: var(--second);
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: .3s;
}

.sideMenu .social li .share:hover {
    background: var(--primary);
}

.sideMenu.active {
    width: 7%;
    transition: 1s;
    overflow: hidden;
    align-items: center;
}

.sideMenu.active .brand,
.sideMenu.active .navName {
    display: none;
}

.sideMenu.active .nav li a {
    font-size: 1.8em;
}

.sideMenu.active .social {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideMenu.active .logo img {
    width: 60px;
    /* Tamaño reducido en píxeles */
    transition: width 1s;
    /* Agregar transición de tamaño con duración de 1 segundo */
}